body{
  margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo */
  height: 100vh; /* Establece la altura del cuerpo al 100% de la altura visible */
  /* background-image: url('https://th.bing.com/th/id/OIG.Vc1op1zUei7ESy2SLsBB?pid=ImgGn'); */
  background-color: black;
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed
}
h2{
  border-radius: 5px;
  color: white;
  text-align: center;
}
img{
  cursor: pointer;
}
a{
  color: black
}
li{
  margin-top: 5px;
}
button{
  cursor: pointer;
}
iframe{
  border-radius: 5px;
  border-color: greenyellow;
  width: 290px;
  height: 220px;
}


/* Estilos de la imagen y texto de presentacion */
.container-profile{
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-top: 10px;
  align-items: center;
}
.image-profile{
  width: 300px;
  height: 50%;
  border-radius: 100%;
}
.container-description{
  width: 70%;
  text-align: center;
}
.container-discovery{
  /* background-color: rgba(32, 35, 41, .8); */
  border-radius: 5px;
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para la seccion de proyectos */
.container-projects-and-certificates{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-projects{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #B6FFFA;
  margin-top: 20px;
}
.container-list-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}
.container-list-projects {
  display: flex;
  align-items: center;
}
.container-image-project{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-projects{
  margin-top: 10px;
  background: black;
  color: #B6FFFA;
  border-color: #B6FFFA;
  border-radius: 5px;
}

/* Estilos para las redes sociales */
.container-social-media{
  margin-top: 50px;
}
.log-social-media{
  display: flex;
  justify-content: space-evenly;
}
.log-social-media img{
  border-radius: 100%;
}

/* Ventana de navegacion para certificiados */
.container-button-certificates{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.button-certificates{
  text-align: center;
  background: black;
  color: #B6FFFA;
  border-color: #B6FFFA;
  border-radius: 5px;
}
.container-certificates-platzi{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
