body{
  margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo */
  height: 100vh; /* Establece la altura del cuerpo al 100% de la altura visible */
  background-image: url('https://th.bing.com/th/id/OIG.Vc1op1zUei7ESy2SLsBB?pid=ImgGn');
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed
}

h2{
  background-color: black;
  border-radius: 5px;
}

img{
  cursor: pointer;
}

a{
  color: white;
}

li{
  margin-top: 5px;
}

.image-profile{
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.container-profile{
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-top: 10px;
  justify-content: space-around;
}
.container-description{
  max-width: 60%;
}

.container-discovery{
  background-color: rgba(32, 35, 41, .8);
  border-radius: 5px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
}

.container-projects{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 20px;
}
.container-list-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}
.container-list-projects a{
  background: black;
}

.container-social-media{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
.log-social-media{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.log-social-media img{
  border-radius: 100%;
}
